.About-Image
{  
    margin-top: 100px;
    margin-left: 500px;
    height: 550px;
}

.Image-div
{
    /* align-items: center; */
    width: 99.7%;
    height: 950px;
    border: solid black;
    background-color: black;
    transition-duration: 0.8s;
}

.Image-div.active
{
    background-color: whitesmoke;
    animation-delay: 0.8s;
    transition-duration: 0.8s;
}

.presents
{
    font-size: 100px;
    color: aqua;
    text-align: center;
}

.Back-div
{
    background-color: black;
}

.Back-div.active
{
    background-color: whitesmoke;
}

.Contact-About
{
    height: 2190px;
    background-color: black;
}