.About-Image {
    margin-top: 100px;
    margin-left: 32%;
    height: 550px;

}


.Name-Company {
    font-size: 100px;
    margin-top: 0.001%;
    text-align: center;

}

.Image-div {
    /* align-items: center; */
    width: 99.7%;
    height: 950px;
    border: none;
    background-color: white;
    transition-duration: 0.8s;
}

.Image-div.active {
    background-color: whitesmoke;
    animation-delay: 0.8s;
    transition-duration: 0.8s;
}

.presents {
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.presents.active {
    color: black;
}

.Back-div {
    background-color: black;
}

.Back-div.active {
    background-color: whitesmoke;
}

.Contact-About {
    background-color: black;
}