.Exchange
{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
}

.Carbon-Exchange
{
    height: 1200px;
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/hack36-83483.appspot.com/o/Back%20Panel1.jpg?alt=media&token=6bbd2e0e-2c41-4f53-9127-3e518eec55cb"); */
    /* background-image: url("C:\Users\HP\Documents\GitHub\Hack36\frontend\public\Assets\Carbon.gif"); */
    background-size: cover;
}

.Table
{
    width: 90%;
    height: 800px;
    border: solid 5px black;
    border-radius: 28px;
    margin-left: 5%;
    margin-top: 10%;
}

.Column1
{
    position: absolute;
    width: 20%;
    height: 800px;
    border-right: solid 4px black;
}

.Column2
{
    position: absolute;
    margin-left: 20%;
    width: 25%;
    height: 800px;
    border-right: solid 4px black;
}

.Column3
{
    position: absolute;
    margin-left: 45%;
    width: 25%;
    height: 800px;
    border-right: solid 4px black;
}

.Column4
{
    position: absolute;
    margin-left: 70%;
    width: 20%;
}

.Row1
{
    position: absolute;
    width: 90%;
    height: 20%;
    border-bottom: solid 4px black;
}

.Company-Name-Exchange
{
    font-size: 25px;
    text-align: center;
    margin-top: 20%
}

.Company-Exchange-Button
{
    width: 40%;
    font-size: 20px;
    margin-top: 20%;
    margin-left: 30%;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
    background-color: #44924C;
}