.Exchange
{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
}

.Carbon-Exchange
{
    height: 763px;
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/hack36-83483.appspot.com/o/Back%20Panel1.jpg?alt=media&token=6bbd2e0e-2c41-4f53-9127-3e518eec55cb"); */
    /* background-image: url("C:\Users\HP\Documents\GitHub\Hack36\frontend\public\Assets\Carbon.gif"); */
    background-size: cover;
}

.Table
{
    width: 90%;
    height: 800px;
    border: solid 5px black;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 10%;
}

.Row1
{
    width: 100%;
    border-bottom: solid 3px black;
    height: 80px;
}