.Carbon-Update
{
    width: 100%;
    text-align: center;
    background-image: url("C:\Users\HP\Documents\GitHub\Hack36\frontend\public\Assets\Background2.jpg");
    height: 653px;
    background-size: cover;
}

.Update
{
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Acme';
}

.Name-Comp
{
    font-size: 25px;
    font-family: 'Acme';
}

.Carbon-info
{
    display: flex;
    justify-content: center;
  
}

.Limit
{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    margin-left: 2px;
    margin-top: 30px;
    font-family: 'Acme';
}

.Limit::placeholder
{
    color: #ff0000;
    opacity: 0.6;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.Limit1
{
    width: 450px;
    height: 30px;
    border: solid black;
    border-radius: 10px;
    font-size: 29px;
    margin-top: 22px;
}

.Limit1::placeholder
{
    color: #ff0000;
    opacity: 0.6;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.Metric-div
{
    display: flex;
}

.Carbon-info1
{
    display: flex;
    justify-content: space-evenly;
}

.Limit2
{
    width: 250px;
    height: 30px;
    border: solid black;
    border-radius: 10px;
    font-size: 29px;
    margin-top: 22px;
    margin-left: 10px;
}

.Limit2::placeholder
{
    font-size: 16px;
    color: #ff0000;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.Carbon-credits
{
    margin-top: 50px;
}

.Credits
{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 800;
    color: green;
}