.Climate-Factors
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

li{
    font-size: 25px;
    width: 80%;
    margin-left: 10%;
    font-weight: 600;
}

.Climate2-Image-Div
{

    width: 100%;
}

.Climate2-Image
{
    width: 45%;
    margin-left: 27.5%;
}

.Climate2-Image1
{
    width: 45%;
    margin-left: 27.5%;
    margin-bottom: 5%;
}