.Contact
{
    background-color: white;
    height:900px;
    background-image: linear-gradient(black,white);
}

.Mobile
{
    display: flex;
}

.Founder
{
    margin-left:100px;
    border: solid rgb(255, 181, 44);
    border-radius: 15px;
    transition-duration: 0.8s;
    font-weight: 500;
    width:350px;
}

.Founder1
{
    margin-left:100px;
    border: solid rgb(255, 181, 44);
    border-radius: 15px;
    transition-duration: 0.8s;
    font-weight: 500;
    width: 350px;
    margin-top: 150px;
    margin-left: 580px;
}

.Founder2
{
    margin-left:100px;
    border: solid rgb(255, 181, 44);
    border-radius: 15px;
    transition-duration: 0.8s;
    font-weight: 500;
    width: 350px;
    margin-left: 450px;
}

.Founder3
{
    margin-left:100px;
    border: solid rgb(255, 181, 44);
    border-radius: 15px;
    transition-duration: 0.8s;
    font-weight: 500;
    width: 350px;
    margin-left: 580px;
}

.Founder-Founder2
{
    display: flex;
    margin-left: 80px;
}

.Founder.active
{
    background-color: black;
    color: white;
    transition-duration: 0.8s;

}

.Founder1.active
{
    background-color: black;
    color: white;
    transition-duration: 0.8s;
    margin-left: 580px;
    margin-top: 150px;
}

.Founder2.active
{
    background-color: black;
    color: white;
    transition-duration: 0.8s;
    margin-left: 450px;
}

.Founder3.active
{
    background-color: black;
    color: white;
    transition-duration: 0.8s;
    margin-left: 580px;
}

.Founder-Founder2.active
{
    display: flex;
    flex-direction: column;
}
.Founder:hover{
    background-color: rgb(240, 62, 62);
    color:rgba(3,65,77,255);
    border: solid black;
    transition-duration: 0.8s;
}

.Founder1:hover{
    background-color: rgb(240, 62, 62);
    color:rgba(3,65,77,255);
    border: solid black;
    transition-duration: 0.8s;
}

.Founder2:hover{
    background-color: rgb(240, 62, 62);
    color:rgba(3,65,77,255);
    border: solid black;
    transition-duration: 0.8s;
}

.Founder3:hover{
    background-color: rgb(240, 62, 62);
    color:rgba(3,65,77,255);
    border: solid black;
    transition-duration: 0.8s;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    height: 100%;
    padding: 2em;
    @media screen and (min-width: 500px) {
      flex-direction: row;
    }
  }
  
  #animation {
    width: 100%;
    height: 100%;
    margin: 2em auto 0;
    @media screen and (min-width: 800px) {
      height: 90%;
    }
  }
  