.footer {
  width: 100%;
  background-color: #353535;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #FF0063;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.Footer
{
  height: 400px;
  background-color: #353535;
  color: white;
}
