.Founder-Tree
{
    width: 100%;
    height: 1800px;
}

.Founder-Outer
{
    justify-content: space-evenly;
    display: flex;
}

.Founder-Box1
{
    width: 650px;
    height: 400px;
    background-image: linear-gradient(135deg,black 30%,#44572c);
    border-radius: 10px;
    margin-top: 7.5%;
}

.Circle-Info
{
    width: 300px;
    height: 400px;
    border-right: solid 2px white;
    color: white;
}

.Circle1
{
    width: 200px;
    height: 200px;
    border: solid 4px white;
    margin-left: 15%;
    border-radius: 50%;
    margin-top: 12.5%;
}

.Founder-Image
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Founder-Info
{
    display: flex;
}

.Founder-Details
{
    width: 350px;
    margin-left: 4%;
    color: white;
}

h1{
    text-align: center;
}

.Founder-Name
{
    margin-top: 10%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.Founder-Name1
{
    margin-top: 2%;
    font-size: 20px;
    font-weight: 600;
}
.Designation-div
{
    width: 350px;
    margin-left: 25%;
}
.Designation
{
    text-align: center;
    width: 150px;
    font-size: 17px;
}