.Home1
{
    position: absolute;
    display: flex;
    width: 100%;
}

.Container
{
    width: 250px;
    height: 200px;
    border: solid black;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 40px;
}

.Image1
{
    width: 230px;
    height: 75%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: none;
}