.Home1
{
    display: flex;
    width: 100%;
    height: 800px;
}

.Container
{
    width: 250px;
    height: 200px;
    border: solid black;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 40px;
}

.Image1
{
    width: 250px;
    height: 75%;
    border-top-right-radius: 22.5px;
    border-top-left-radius: 22.5px;
    border: none;
}

.Company-button
{
    width: 250px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}