.modalBackground1 {
    width: 100%;
    height: 600px;
    background-color: rgba(200, 200, 200);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer1 {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer1 .title1 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .title1-Your
  {
    font-size: 45px;
  }

  .titleCloseBtn1 {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn1 button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer1 .body1 {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .modalContainer1 .footer1 {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .modalContainer1 .footer1 button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn1 {
    background-color: crimson;
  }