.VideoChatIcon {
    font-size: 30px;
    color: white;
    margin-left: 40%;
}

.Description-Box
{
    width: 100%;
    height: auto;
    margin-top: 2.5%;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(135deg,black 30%,#44572c);
    margin-bottom: 7%;
}

.Navigation-Panel
{
    width: 100%;
    height: 10%;
    border-bottom: solid 3px white;
    display: flex;
}

.Company-Panel
{
    width: 40%;
    border-right: solid 3px white;
    height: auto;
    font-size: 30px;
    align-items: center;
}

.Company-Name-Panel
{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    align-items: center;
    height: auto;
}

.Company-Name-Panel1
{
    text-align: center;
    font-size: 20px;
    align-items: center;
    height: auto;
}

.Company-Panel2
{
    width: 10%;
    border-right: solid 3px white;
    height: auto;
    display: flex;
    align-items: center;
}

.Product-Image-div
{
    width: 30%;
    margin-left: 5%;
}

.Product-Image
{
    width: 85%;
    height: 55%;
    border: solid 2px white;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: white;
    margin-right: 5%;
}

.Description-Flex
{
    width:100%;
    height: auto;
    display: flex;
}

.Product-Description-Description
{
    margin-left: 5%;
    width: 45%;
}

.Product-Name-Description
{
    font-size: 40px;
}

.Description-Description
{
    font-size: 20px;
    width: 90%;
    height: auto;
    
}

.Carbon-Reduction-Paragraph
{
    font-size: 28px;
    font-weight: 600;
    color: aqua;
}

.Cost-Description
{
    font-size: 30px;
    font-weight: bold;
}

#dots
{
    color: black;
}

.Buy-Now-Description
{
    width: 100px;
    height: 30px;
    margin-left: 10%;
    border-radius: 10px;
    border: solid white;
    background-color: #A7FE62;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 30px;
}