.Offset
{
    position: absolute;
    width: 100%;
    justify-content: center;

    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/hack36-83483.appspot.com/o/Banner.jpg?alt=media&token=7d403549-24d7-4d1f-bcb2-cbb1573bb479"); */
    /* background-image: linear-gradient(to right,#20BF55,#01BAEF); */

    background-size: cover;
    
}

.Dewang
{
    background-color: whitesmoke;
    width: 75%;
    position: absolute;
    margin-left: 12.5%;
    border-radius: 25px;
    overflow-y: auto;
    height: 788px;
    margin-bottom: 105px;
}

.Green
{
    text-align: center;
    font-family: 'Acme';
    font-size: 40px;
}

.Offset-info
{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Offset-Name
{
    width: 300px;
    border:solid black;
    border-radius: 10px;
    height: 25px;
    font-size: 17px;
    color: black;
    background-color: transparent;
}



.Offset-Name::placeholder
{
    color: gray;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
}

.Offset-Name1
{
    width: 600px;
    color: black;
    height: 200px;
    font-size: 20px;
    border: solid black;
    border-radius: 10px;
    background-color: transparent;
}

.Product-Cost
{
    display: flex;
    justify-content: center;
}

.Offset-Name1::placeholder
{
    color: gray;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
}

.Cost 
{
    width: 50px;
    height: 20px;
    border: solid black;
    font-size: 20px;
    background-color: transparent;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.Cost::placeholder
{
    color: gray;
}

.Price
{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.Price1
{
    margin-top: 26px;
    font-size: 22px;
}

.Price2
{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.Offset-info1
{  
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Offset-info2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Submit-btn1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.Submit-btn1:hover
{
    opacity: 75%;
}

.Submit1 
{
    background-color: black;
    font-size: 25px;
    cursor: pointer;
    border: solid black;
    border-radius: 10px;
    color: white;
}

