.Sidebar-Nav
{
    width: 200px;
    height: 713px;
    border: solid rgba(47,38,103,255);
    background-color: rgba(47,38,103,255);
    
}

.Register-btn
{
    background-color:rgba(47,38,103,255);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition-duration: 0.8s;
    margin-top: 40px;
}

.Offset-add
{
    background-color: rgba(47,38,103,255);
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
    border: none;
    transition-duration: 0.8s;
}

.Register-btn:hover
{
    color: #39FF14;
    transition-duration: 0.8;
}

.Offset-add:hover
{
    color: #39FF14;
    transition-duration: 0.8;
}