.Login-meta {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1000px;
    /* background-color: black; */
}


.Login-button {
    width: 300px;
    color: white;
    height: 50px;
    font-size: 28px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50%;
    border: solid 4px white;
    opacity: 75%;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Login-button:hover {
    opacity: 100%;
}

.Login-div {
    border-radius: 15px;
    width: 50%;
    height: 800px;
    border: solid black;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hack36-83483.appspot.com/o/Climate1.jpg?alt=media&token=14da166d-1483-4c67-9384-8d92fbc438de&_gl=1*1qntakl*_ga*Mzc1NjIzNTI0LjE2NDczNDY1MDI.*_ga_CW55HF8NVT*MTY4NTUzNzE0OS44MS4wLjE2ODU1MzcxNDkuMC4wLjA.");
    background-size: cover;
    text-align: center;
}

.Connect-Button {
    width: 100%;
    margin-left: 40%;
    margin-top: 50%;
}

.Sign-Up-Metamask {
    width: 400px;
    height: 32px;
    font-size: 24px;
    background-color: #7bbfd6;
    border-radius: 10px;
}

.Already {
    margin-top: 15%;
    font-size: 25px;
}

.Sign-Up-Page {
    background-color: #A7A7A7;
    height: 600px;
}

.Sign-Up-Page-Inner {
    position: absolute;
    width: 40%;
    height: 400px;
    background-color: white;
    margin-left: 30%;
    margin-top: 7.5%;
    text-align: center;
    border-radius: 10px;
}

.Already-Have-An-Account {
    margin-top: 50px;
}

.Sign-Up-h3 {
    font-size: 35px;
}

.ACI {
    margin-top: 20px;
    margin-left: 46.5%;
    font-size: 30px;
}